body{
    background-image: url(../Assets/DF\ bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img{
    border: 5px solid black;
}
.watch{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.content{
    font-size: 23px;
    text-decoration: underline;
}
.image{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 50px;
}
#lst{
    display: flex;
    justify-content: center;
    transform: translate(-110px,-30px);
}
#span1{
    margin-left: 100px;
}
#img3{
    border:2px solid rgb(115, 8, 8);
}